.container-hero {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:end;
  background-color: black;
  width: 30rem;
  height: 30rem;
  border-radius: 15px;
  color: white;
  margin: auto;
}

.header {
  display: flex;
  border: 2px solid gray;
  justify-content: space-around;
  align-items: center;
}

.hero-footer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
}

.tips-header {
  color: gray;
}